.circle2 {
  width: 53px;
  height: 53px;
  background-color: var(--light-teal);
  border-radius: 50%;
  animation-name: spin2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.small-circle2 {
  width: 50px;
  height: 50px;
  background-color: var(--dark-teal);
  border-radius: 50%;
  transition: 500ms ease-in-out;
}
@keyframes spin2 {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
.circle2:hover {
  cursor: pointer;
  background-color: white;
}
.circle2:hover .small-circle2 {
  cursor: pointer;
  transform: scale(0.5);
  background-color: var(--dark-color);
}
