@import '~node_modules/modern-normalize/modern-normalize.css';
@import url("https://fonts.googleapis.com/css2?family=BenchNine&family=Courier+Prime:wght@400;700&display=swap");
.circles {
  padding: 50px;
  background-color: #071952;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.circle {
  width: 50px;
  height: 50px;
  background-color: var(--light-teal);
  border-radius: 50%;
  border: 5px solid var(--teal);
  border-top: 5px solid var(--light-teal);
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transform: rotate(180deg);
  transition: 250ms ease-in-out;
  position: relative;
}

@keyframes spin {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
.small-circle {
  width: 30px;
  height: 30px;
  background-color: var(--teal);
  border-radius: 50%;
  transition: 500ms ease-in-out;
  transform: translatex(0%) translatey(-10%);
}

.smallest-circle {
  width: 10px;
  height: 10px;
  background-color: var(--teal);
  border-radius: 50%;
  transform: translatex(300%) translatey(-280%);
  transition: 500ms ease-in-out;
}

.circle:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.circle:hover.circle {
  border-top: 5px solid var(--dark-color);
  border-color: var(--dark-color);
  background-color: white;
}

.circle:hover .small-circle {
  transform: translatex(32%) translatey(32%);
  background-color: var(--dark-color);
}

.circle:hover .smallest-circle {
  transform: translatex(200%) translatey(-100%);
  background-color: var(--dark-color);
}

.circle2 {
  width: 53px;
  height: 53px;
  background-color: var(--light-teal);
  border-radius: 50%;
  animation-name: spin2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.small-circle2 {
  width: 50px;
  height: 50px;
  background-color: var(--dark-teal);
  border-radius: 50%;
  transition: 500ms ease-in-out;
}

@keyframes spin2 {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
.circle2:hover {
  cursor: pointer;
  background-color: white;
}

.circle2:hover .small-circle2 {
  cursor: pointer;
  transform: scale(0.5);
  background-color: var(--dark-color);
}

.buttons {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 60px;
  gap: 40px;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  z-index: 1;
}
.buttons__dark {
  background-color: var(--dark-color);
}
.buttons__teal {
  background-color: var(--teal);
}

a {
  text-decoration: none;
}

.button1 {
  color: var(--dark-color);
  font-family: sans-serif;
  font-size: 45px;
  border: 5px solid var(--dark-color);
  padding: 40px 80px;
  position: relative;
  overflow: hidden;
  display: block;
}

.button1:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--light-teal);
  height: 100%;
  width: 100%;
  transform-origin: bottom right;
  transform: rotate(90deg);
  transition: transform 1s;
  z-index: -1;
}

.button1:hover:before {
  transform: rotate(0deg);
}

.button1:hover {
  transform: rotate(0deg);
}

.button2 {
  color: var(--dark-color);
  font-family: sans-serif;
  font-size: 45px;
  border: 5px solid var(--dark-color);
  padding: 40px 80px;
  position: relative;
  overflow: hidden;
  transition: all 1s;
}

.button2:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--dark-color);
  height: 100%;
  width: 100%;
  z-index: -1;
  transform: translateY(-100%);
  transition: all 1s;
}

.button2:hover:before {
  transform: translateY(0);
}

.button2:hover {
  color: white;
  transform: translateY(0);
}

.button3 {
  color: var(--dark-color);
  font-family: sans-serif;
  font-size: 45px;
  border: 5px solid var(--dark-color);
  padding: 40px 80px;
  position: relative;
  transition: 1s;
}

.button3:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--dark-color);
  height: 100%;
  width: 100%;
  transition: 1s;
  transform: rotateX(90deg);
  z-index: -1;
}

.button3:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--dark-color);
  height: 100%;
  width: 100%;
  transition: 1s;
  transform: rotateY(90deg);
  z-index: -1;
}

.button3:hover:before {
  transform: rotateX(0);
}

.button3:hover:after {
  transform: rotateY(0);
}

.button3:hover {
  transform: rotateX(0);
  color: white;
}

.button4 {
  text-transform: uppercase;
  font-family: "roboto";
  color: var(--dark-color);
  border: 3px solid var(--dark-color);
  padding: 40px 80px;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: -2px;
  transition: all 0.5s;
}

.button4:hover {
  font-weight: 900;
  letter-spacing: 10px;
  border: 7px solid var(--dark-color);
}

.button5 {
  color: white;
  font-family: sans-serif;
  font-size: 45px;
  border: 5px solid white;
  padding: 40px 80px;
  position: relative;
  overflow: hidden;
  transition: all 1s;
}

.button5:before {
  content: "YEAH!";
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--red);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  transition: all 1s;
}

.button5:hover:before {
  transform: translateY(0);
}

.button5:hover {
  color: white;
  transform: translateY(0);
}

.button6 {
  color: white;
  font-family: sans-serif;
  font-size: 45px;
  border: 5px solid white;
  padding: 40px 80px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
}

.button6:hover {
  background-color: var(--red);
}

.button6:before {
  content: "";
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  position: absolute;
  transform: translateX(-100%) rotate(45deg);
  transition: all 0.3s;
}

.button6:hover:before {
  transform: translateX(100%) rotate(45deg);
}

.button7 {
  color: white;
  font-family: sans-serif;
  font-size: 45px;
  border: 5px solid white;
  padding: 40px 80px;
  position: relative;
  overflow: hidden;
  color: transparent;
}

.button7:before {
  content: "Hover Me";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--red);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.button7:after {
  content: "Hover Me";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--red);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  transform: translate(-100%, 100%);
}

.button7:hover:before {
  transform: translate(100%, -100%);
}

.button7:hover:after {
  transform: translate(0, 0);
}

.button8 {
  color: white;
  font-family: sans-serif;
  font-size: 45px;
  border: 3px solid white;
  padding: 40px 80px;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
}

.button8:before {
  content: "Hover Me";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--red);
  color: var(--dark-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(5);
  opacity: 0;
  transition: all 0.5s;
}

.button8:hover:before {
  opacity: 1;
  transform: scale(1);
}

.button9 {
  border: 1px solid var(--red);
  color: var(--red);
  font-family: sans-serif;
  padding: 40px 80px;
  font-size: 45px;
  text-transform: uppercase;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
}

.button9:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--red);
  z-index: -1;
  border-radius: 0 0 50% 50%;
  height: 0%;
  transition: all 0.5s;
  transform: translateX(0);
}

.button9:hover:before {
  height: 190%;
}

.button9:hover {
  color: white;
  transform: translateX(0);
}

.button10 {
  background-color: var(--teal);
  padding: 40px 80px;
  color: white;
  font-family: sans-serif;
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.5s;
  position: relative;
}

.button10:before {
  content: "button";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-teal);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  transform-origin: top;
  transform: rotateX(270deg);
}

.button10:hover:before {
  transform: rotateX(0deg);
}

.button10:after {
  content: "button";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  transform-origin: top;
  transform: rotateX(270deg);
  transition-delay: 0.25s;
}

.button10:hover:after {
  transform: rotateX(0deg);
}

.button11 {
  border: 3px solid var(--red);
  padding: 40px 80px;
  color: transparent;
  font-family: sans-serif;
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
}

.button11:before {
  content: "button";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-color);
  color: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.button11:hover:before {
  left: 100%;
  transform: scale(0) rotateY(360deg);
  opacity: 0;
}

.button11:after {
  content: "button";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--dark-color);
  color: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  transform: scale(0) rotateY(0deg);
  opacity: 0;
}

.button11:hover:after {
  left: 0;
  transform: scale(1) rotateY(360deg);
  opacity: 1;
}

.button12 {
  width: 365px;
  height: 143px;
  background-color: transparent;
  color: var(--dark-color);
  font-size: 45px;
  text-transform: uppercase;
  font-family: sans-serif;
  text-align: center;
  line-height: 143px;
  transition: all 0.5s;
  position: relative;
}

.button12:before,
.button12:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 25px;
  height: 25px;
  background-color: var(--dark-color);
  border-radius: 50%;
  transform: translateY(-50%);
  transition: all 0.3s;
  z-index: -1;
  opacity: 0;
}

.button12:before {
  left: 0;
  box-shadow: -100px 0 0 var(--dark-color);
}

.button12:after {
  right: 0;
  box-shadow: 100px 0 0 var(--dark-color);
}

.button12:hover:before {
  left: 50%;
  box-shadow: 30px 0 0 var(--dark-color);
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
}

.button12:hover:after {
  right: 50%;
  box-shadow: -30px 0 0 var(--dark-color);
  transform: translateX(50%) translateY(-50%);
  opacity: 1;
}

.span12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-color);
  border-radius: 12px;
  z-index: -1;
  transform: scale(0);
  transition: all 0.3s;
}

.button12:hover .span12 {
  transform: scale(1);
  transition-delay: 0.4s;
}

.button12:hover {
  color: white;
  transition-delay: 0.4s;
  transform: scale(1);
}

.button13 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  width: 300px;
  height: 60px;
  background-color: transparent;
  text-align: center;
  line-height: 60px;
  position: relative;
  transition: all 0.2s;
}

.button13:hover {
  color: var(--dark-color);
}

.button13:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  background-color: var(--teal);
  z-index: -1;
  mix-blend-mode: multiply;
  transition: all 0.2s;
  transform-origin: top;
}

.button13:hover:before {
  top: -6px;
  left: 0;
  transform: perspective(1000px) rotateX(75deg);
}

.button13:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 100%;
  height: 100%;
  background-color: var(--red);
  z-index: -1;
  mix-blend-mode: multiply;
  transition: all 0.2s;
  transform-origin: bottom;
}

.button13:hover:after {
  top: 6px;
  left: 0;
  transform: perspective(1000px) rotateX(-75deg);
}

.button14 {
  text-transform: uppercase;
  font-size: 25px;
  color: var(--red);
  letter-spacing: 3px;
  padding: 25px 50px;
  border: 3px solid var(--red);
  transition: all 0.2s;
  position: relative;
  overflow: hidden;
}

.button14:hover {
  color: var(--dark-color);
  z-index: 0;
}

.button14:after,
.button14:before,
.span14:after,
.span14:before {
  content: "";
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--red);
  z-index: -1;
  transition: all 0.2s;
}

.button14:before {
  top: 100%;
  left: 0;
}

.button14:hover:before {
  top: 0;
  left: 0;
}

.button14:after {
  top: -100%;
  left: 25%;
  transition-delay: 0.1s;
}

.button14:hover:after {
  top: 0;
  left: 25%;
}

.span14:before {
  top: 100%;
  right: 25%;
  transition-delay: 0.2s;
}

.button14:hover .span14:before {
  top: 0;
  right: 25%;
}

.span14:after {
  top: -100%;
  right: 0;
  transition-delay: 0.3s;
}

.button14:hover .span14:after {
  top: 0;
  right: 0;
}

.button15 {
  text-transform: uppercase;
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 3px;
  color: var(--light-teal);
  height: 60px;
  width: 200px;
  line-height: 60px;
  text-align: center;
  position: relative;
}

.button15:before {
  content: "";
  position: absolute;
  height: 90px;
  width: 200px;
  top: -15px;
  left: 0;
  border-left: 2px solid var(--red);
  border-right: 2px solid var(--light-teal);
  transition: all 1s;
}

.button15:hover:before {
  transform: rotateY(180deg);
}

.button15:after {
  content: "";
  position: absolute;
  height: 60px;
  width: 230px;
  top: 0;
  left: -15px;
  border-top: 2px solid var(--red);
  border-bottom: 2px solid var(--light-teal);
  transition: all 1s;
  transition-delay: 0.2s;
}

.button15:hover:after {
  transform: rotateX(180deg);
}

.button16 {
  border: none;
  padding: 20px 60px;
  background-color: var(--red);
  color: white;
  font-family: "BenchNine", sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

.button16:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: -5px;
  left: -5px;
  border-top: 2px solid var(--red);
  border-left: 2px solid var(--red);
  transition: all 0.2s;
}

.button16:hover:before,
.button16:hover:after {
  height: 100%;
  width: 100%;
}

.button16:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: -5px;
  right: -5px;
  border-bottom: 2px solid var(--red);
  border-right: 2px solid var(--red);
  transition: all 0.2s;
}

.button17 {
  width: 160px;
  height: 60px;
  color: var(--dark-color);
  border: 2px solid var(--dark-color);
  text-align: center;
  line-height: 60px;
  font-size: 25px;
  position: relative;
  transition: all 0.2s;
}

.button17:hover {
  color: white;
}

.button17:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-color);
  z-index: -1;
  opacity: 0;
  transition: all 0.8s;
}

.button17:hover:before {
  opacity: 1;
  transform: rotate(15deg);
}

.span17 {
  color: transparent;
  position: relative;
}

.span17:before {
  content: "B";
  position: absolute;
  top: -55%;
  left: 0;
  color: var(--dark-color);
  transition: all 0.2s;
}

.button17:hover .span17:before {
  color: white;
  font-size: 80px;
  transform: translate(-65%, -10%) rotate(360deg);
}

.button18 {
  background-color: transparent;
  border: none;
  position: relative;
  width: 300px;
  height: 100px;
  text-transform: uppercase;
  text-align: center;
  line-height: 100px;
  color: white;
  font-size: 35px;
  letter-spacing: 5px;
  overflow: hidden;
}

.button18:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: all 0.5s;
}

.button18:hover:before {
  left: 0;
}

.button18:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: all 0.5s;
}

.button18:hover:after {
  right: 0;
}

.span18:before {
  content: "";
  position: absolute;
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: white;
  transition: all 0.5s;
}

.button18:hover .span18:before {
  top: 0;
}

.span18:after {
  content: "";
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background-color: white;
  transition: all 0.5s;
}

.button18:hover .span18:after {
  bottom: 0;
}

.button18:hover {
  cursor: pointer;
}

.button19 {
  padding: 28px 55px;
  color: var(--blue);
  font-size: 32px;
  letter-spacing: 3px;
  border: 2px solid var(--blue);
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
}

.button19:hover {
  color: white;
}

.button19:hover .div19 {
  top: 0;
}

.div19 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: calc(100% + 22px);
  background-color: var(--blue);
  transition: all 1s;
  z-index: -1;
}

.div19:before {
  content: "";
  position: absolute;
  top: -22px;
  left: 0;
  width: 100%;
  height: 22px;
  background: url("../images/wave.png");
  animation: wavy 0.5s linear infinite;
}

@keyframes wavy {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 118px;
  }
}
.button20 {
  width: 160px;
  height: 60px;
  color: var(--dark-color);
  line-height: 60px;
  text-align: center;
  text-transform: capitalize;
  font-size: 25px;
  position: relative;
  transition: all 0.2s;
  overflow: hidden;
}

.span20 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  border: 2px solid var(--dark-color);
  z-index: -1;
}

.span20:before {
  content: "";
  position: absolute;
  width: 8%;
  height: 500%;
  background-color: white;
  top: 50%;
  left: 50%;
  transition: all 0.2s;
  transform: translate(-50%, -50%) rotate(-60deg);
}

.button20:hover .span20:before {
  width: 100%;
  background-color: var(--dark-color);
  transform: translate(-50%, -50%) rotate(60deg);
}

.button20:hover {
  color: white;
}

.button21 {
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  letter-spacing: 7px;
  padding: 18px 30px;
  background: transparent;
  font-size: 28px;
  color: white;
}

.button21:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  left: -1%;
  top: -5px;
  background-color: var(--dark-color);
  transform: skewx(30deg);
  z-index: -1;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0, 1.55);
}

.button21:hover:before {
  transform: skewx(0deg);
  left: 50%;
  top: 0;
}

.button21:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  left: 51%;
  top: 5px;
  background-color: var(--red);
  transform: skewx(30deg);
  z-index: -1;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0, 1.55);
}

.button21:hover:after {
  transform: skewx(0deg);
  left: 1%;
  top: 0;
}

.button22 {
  position: relative;
  text-transform: uppercase;
  padding: 25px 50px;
  background-color: white;
  color: var(--grey);
  border-radius: 100px;
  font-size: 24px;
  transition: all 0.2s;
  cursor: pointer;
}

.button22:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 100px;
  transition: all 0.4s;
  z-index: -1;
}

.button22:hover:before {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.button22:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.button22:hover:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.button23 {
  position: relative;
  width: 250px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  color: var(--dark-color);
  border: 4px solid var(--dark-color);
  font-size: 24px;
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: all 0.5s;
  overflow: hidden;
}

.button23:hover {
  color: white;
}

.button23:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-top: 40px solid var(--dark-color);
  border-bottom: 40px solid var(--dark-color);
  border-right: 40px solid transparent;
  transition: all 0.5s;
  z-index: -1;
  transform: translateX(-100%);
}

.button23:hover:before {
  transform: translateX(0);
}

.button23:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-top: 40px solid var(--dark-color);
  border-bottom: 40px solid var(--dark-color);
  border-left: 40px solid transparent;
  transition: all 0.5s;
  z-index: -1;
  transform: translateX(100%);
}

.button23:hover:after {
  transform: translateX(0);
}

.header-btn {
  cursor: pointer;
  width: 250px;
  height: 60px;
  background-color: var(--light-teal);
}

:root {
  --dark-color: #071952;
  --dark-teal: #0b666a;
  --teal: #35a29f;
  --light-teal: #97feed;
  --red: #f44336;
  --blue: #00aeff;
  --grey: #777;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: var(--dark-teal);
}

a {
  text-decoration: none;
}

.container {
  margin: 0;
}
.containerbtns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.wrapper {
  margin: 0 50px;
}

.is-hidden {
  visibility: hidden;
}/*# sourceMappingURL=index.css.map */