<div class="container" data-btns>
  <div class="btns-box">
    <section class="container__btns">
      <section class="buttons">
        <a class="button1" href="#">Hover Me</a>
        <a class="button2" href="#">Hover Me</a>
        <a class="button3" href="#">Hover Me</a>
        <a class="button4" href="#">Hover Me</a>
      </section>
      <section class="buttons buttons__dark">
        <a class="button5" href="#">Hover Me</a>
        <a class="button6" href="#">Hover Me</a>
        <a class="button7" href="#">Hover Me</a>
        <a class="button8" href="#">Hover Me</a>
      </section>
      <section class="buttons">
        <a class="button9" href="#">button</a>
        <a class="button10" href="#">button</a>
        <a class="button11" href="#">button</a>
        <a class="button12" href="#">
          <span class="span12"></span>
          button</a
        >
      </section>
      <section class="buttons buttons__dark">
        <a class="button14" href="#"><span class="span14">Hover Me</span></a>
        <a class="button15" href="#">hover me</a>
        <button class="button16" href="#">hover me</button>
        <button class="button18" href="#">
          hover me<span class="span18"></span>
        </button>
        <a class="button19" href="#"
          >button
          <div class="div19"></div
        ></a>
      </section>
      <section class="buttons">
        <a class="button13" href="#">button hover effect</a>
        <a class="button17" href="#"><span class="span17">B</span>utton</a>
        <a class="button20" href="#">button<span class="span20"></span></a>
        <a class="button21" href="#">button</a>
        <a class="button23" href="#">button</a>
      </section>
      <section class="buttons buttons__teal">
        <a class="button22">click here</a>
      </section>
      <section class="circles">
        <div class="circle">
          <div class="small-circle"></div>
          <div class="smallest-circle"></div>
        </div>
        <div class="circle2"><div class="small-circle2"></div></div>
      </section>
    </section>
  </div>
</div>
